@page "/"

<h1>Calculations</h1>

<div class="row">
    <Addition></Addition> 
</div>
<div class="row">
    <Subtraction></Subtraction>
</div>
<div class="row">
    <Multiplication></Multiplication>
</div>
<div class="row">
    <Division></Division>
</div>
<div class="row">
    <SquareRooting></SquareRooting>
</div>




